<div class="container main-container">
  <div class="row">
    <%= form_tag translating_cn_vi_path do %>
      <div class="col-md-5 src-field">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= link_to 'Chinese-Vietnamese', '#', class: 'btn btn-default form-control', readonly: true %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= link_to 'English-Vietnamese', root_path, class: 'btn btn-default form-control' %>
            </div>
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">SRC</span>
          <%= text_area_tag :src, @src_nmt == '-' ? '' : @src_nmt, class: 'form-control my-text-field' %>
        </div>
      </div>
      <div class="col-md-1 button-action-group">
        <%= submit_tag 'Run', class: 'btn btn-primary form-control run-button' %>
    <% end %>
        <%= form_tag clearing_cn_vi_path do %>
          <%= submit_tag 'Clear', class: 'btn btn-danger form-control'  %>
        <% end %>
      </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">NMT</span>
            <%= text_area_tag :tgt_nmt, @tgt_nmt == '-' ? '' : @tgt_nmt, class: 'form-control my-text-field', readonly: true %>
            <span class="input-group-addon" id="basic-addon2"><%= @bleu_nmt %></span>
          </div>
        </div>
      </div>
      <%= form_tag marking_cn_vi_path do %>
        <div class="row">
          <div class="col-md-12">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">EXP</span>
              <%= text_area_tag :expect_tgt, @expect_tgt == '-' ? '' : @expect_tgt, class: 'form-control my-text-field' %>
              <span class="input-group-btn">
                <%= submit_tag 'Mark', class: 'btn btn-success mark-button'  %>
              </span>
            </div>
          </div>
          <div class="col-md-2">
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col-md-12">
          <div class="input-group">
            <span class="input-group-addon" id="basic-addon4">SMT</span>
            <%= text_area_tag :tgt_smt, @tgt_smt == '-' ? '' : @tgt_smt, class: 'form-control my-text-field', readonly: true %>
            <span class="input-group-addon" id="basic-addon5"><%= @bleu_smt %></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
